.hover-name-popup-container :global(.mapboxgl-popup-close-button) {
  display: none;
}

.popup :global(.mapboxgl-popup-content) {
  cursor: text;
  user-select: text;
}

.popup-place-name-container {
  display: flex;
  justify-content: center;
}

.popup-date-selector-container {
  display: flex;
  justify-content: left;
}

.popup-date-selector {
  position: relative;
  left: 3%;
}
