.popup {
  .popup-date-selector-container {
    display: flex;
    justify-content: left;
    margin-top: 0.25em;
    .popup-date-selector {
      position: relative;
      left: 3%;
    }
  }
  .popup-time-series-link-container {
    cursor: pointer;
    position: relative;
    margin-top: 0.4em;
    padding: 1%;
    display: flex;
    justify-content: center;
    border: 1px solid green;
    border-radius: 5px;
    &:hover {
      background-color: green;
      color: white;
    }
  }
}

.popup :global(.mapboxgl-popup-content) {
  cursor: text;
  user-select: text;
  border-radius: var(--border-radius);
}

.popup :global(.mapboxgl-popup-close-button) {
  font-size: 20px;
  &:hover {
    background-color: lightgray;
    font-weight: bold;
    border-radius: var(--border-radius);
  }
}

.zoom-buttons-container {
  position: absolute;
  right: 2%;
  top: 80%;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    border: var(--border);
    border-radius: var(--border-radius);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

    &:hover {
      font-weight: bold;
      background-color: lightgray;
    }
  }
}

.popup-place-name-container {
  display: flex;
  justify-content: center;
  font-weight: bold;
}
