.data-popup {
  .popup-date-selector-container {
    display: flex;
    justify-content: left;
    margin-top: 0.25em;
    .popup-date-selector {
      position: relative;
      left: 3%;
    }
  }
  .popup-time-series-link {
    cursor: pointer;
    position: relative;
    margin-top: 0.4em;
    padding: 1%;
    display: flex;
    justify-content: center;
    border: 1px solid green;
    border-radius: 5px;
    &:hover {
      background-color: green;
      color: white;
    }
  }
  .popup-time-series-modal-button {
    font-size: 16px;
    cursor: pointer;
    position: relative;
    margin-top: 0.4em;
    padding: 1%;
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid green;
    border-radius: 5px;
    background-color: white;
    user-select: none;
    &:hover {
      background-color: green;
      color: white;
    }
  }
}

.data-popup :global(.mapboxgl-popup-content) {
  cursor: text;
  user-select: text;
  border-radius: var(--border-radius);
}

.data-popup :global(.mapboxgl-popup-close-button) {
  font-size: 20px;
  &:hover {
    background-color: lightgray;
    font-weight: bold;
    border-radius: var(--border-radius);
  }
}

.hover-popup-place-container {
  display: flex;
  justify-content: center;
  .hover-popup-place-flag-container {
    margin-left: 5px;
  }
}

.hover-popup :global(.mapboxgl-popup-content) {
  border-radius: var(--border-radius);
  padding: 8px;
}

.zoom-buttons-container {
  position: absolute;
  right: 2%;
  bottom: 5%;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    border: var(--border);
    border-radius: var(--border-radius);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

    &:hover {
      font-weight: bold;
      background-color: lightgray;
    }
  }
}

.popup-place-name-container {
  display: flex;
  justify-content: center;
  font-weight: bold;
  .popup-place-flag-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
  }
}

.time-series-model-screen {
  position: absolute;
  z-index: 80;
  // way to have opacity for only parent and not children
  background-color: rgba(255, 255, 255, 0.3);
  .time-series-modal-container {
    position: absolute;
    z-index: 20;
  }
}
