.nav {
  background: var(--nav-bg);
  height: var(--nav-height);
  display: flex;
  align-items: center;
  padding: 0.5rem calc((100vw - 1000px) / 10);
  // z-index: 10;
}

.nav-link {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}

.nav-link:hover {
  color: #15cdfc;
}

.nav-menu {
  display: flex;
  align-items: center;
  margin: 0.5rem calc((100vw - 1000px) / 10);

  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.dropdown {
  display: none;
  color: #ffff;
  padding-top: 0.5rem;
  position: relative;
  margin: 0 5% 0 auto;
  font-size: 1.8rem;
  cursor: pointer;

  .icon-button svg {
    width: 30px;
    height: 30px;
  }

  @media screen and (max-width: 768px) {
    display: block;
  }
}

.dropdown-menu {
  position: absolute;
  top: calc(0.4 * var(--nav-height));
  width: 7em;
  transform: translateX(-70%);
  border: var(--border);
  background: var(--nav-bg);
  border-radius: var(--border-radius);
  padding: 0.5rem;
  overflow: hidden;
  z-index: 10;
}

.dropdown-menu-item-container {
  display: inline-block;
  height: 100%;
  width: 100%;
  font-size: 0.75em;
}

.dropdown-menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;

  &:hover {
    background-color: #525357;
  }
}
