.covid-case-time-series,
.vaccine-time-series {
  position: relative;
  margin: 2% 0 2% 0;
}

.time-series-heading {
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  @media screen and (max-width: 768px) {
    .time-series-data-toggle-container {
      left: 10%;
    }
  }
}
.time-series-label {
  position: relative;
  margin-left: 10%;
  font-size: 20px;
  font-weight: normal;
}

.time-series-data-toggle-container {
  position: relative;
  margin-left: 3%;
}
