.legend-item {
  display: flex;
  justify-content: center;
}

.chart-legend-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */

  .chart-legend-item-wrapper {
    margin-left: 1%;
    padding: 0.75%;
    border-radius: var(--border-radius);
    cursor: pointer;
    .chart-legend-item {
      color: inherit;
      background-color: inherit;
      border: none;
      cursor: pointer;
    }
  }
}
