.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.marker-btn img {
  width: 20px;
  height: 20px;
}

.hover-name-popup-container .mapboxgl-popup-close-button {
  display: none;
}
