.date-select-container {
  display: flex;
  justify-content: left;
}

.start-date-select-container {
  display: flex;
  justify-content: left;
}

.end-date-select-container {
  display: flex;
  justify-content: right;
}

.chart-container {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
}
