.covid-date-select-container,
.vaccine-date-select-container {
  display: flex;
  justify-content: left;
}

.covid-start-date-select-container,
.vaccine-start-date-select-container {
  display: flex;
  justify-content: left;
}

.covid-end-date-select-container,
.vaccine-end-date-select-container {
  display: flex;
  justify-content: right;
}

.covid-chart-container,
.vaccine-chart-container {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
}
